body {
  margin: 0;
  font-family: 'Courier New', monospace;
  background-color: #0f0f0f;
  color: #00ffea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: linear-gradient(145deg, #111, #222);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px #00ffea;
}

.title {
  font-size: 2.5em;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #00ffea;
}

.desc {
  margin-bottom: 20px;
  font-size: 1.2em;
}

#key-link a {
  color: #0ff;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 0 5px #0ff;
}

#key-link a:hover {
  text-shadow: 0 0 20px #00ffea;
}
